@use "../../abstracts" as *;

.header{
    position: relative;

    display: grid;
    align-items: center;

    min-height: 100vh;
    color: $color-white;
    background-color: $color-primary;
    background-image: url(../../../../assets/images/img-header.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}